@import url("https://fonts.googleapis.com/css2?family=Anek+Odia:wght@100&family=Beau+Rivage&family=Bebas+Neue&family=Comfortaa:wght@600&family=Festive&family=Grape+Nuts&family=Montserrat:wght@200;400;900&family=Ms+Madi&family=Nunito&family=Nunito+Sans&family=Open+Sans:wght@400;500;600&family=Oswald:wght@200;700&family=Poppins:wght@300;500&family=Quintessential&family=Roboto+Condensed:wght@400;700&family=Roboto+Flex:opsz,wght@8..144,200&family=Roboto:wght@100;700;900&family=RocknRoll+One&family=Smooch+Sans:wght@200&family=Spectral:wght@700&family=Updock&family=Vollkorn:wght@500&family=Water+Brush&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Comfortaa", cursive;
}

header {
  width: 100%;
  background-color: #128596;
}

.wrap {
  max-width: 1900px;
  margin: 0 auto;
}

.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.menu {
  width: 100px;
  display: none;
  justify-content: center;
  align-items: center;
}

.menu img {
  width: 50px;
}

.navigation {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.header-ul {
  width: 70%;
  display: flex;
  justify-content: space-evenly;
}

.header-ul li a {
  color: white;
  font-size: 1.4rem;
}

input {
  text-align: center;
  background-image: url("Imagens/lupa.png");
  background-repeat: no-repeat;
  background-position: 10px;
  background-size: 9%;
  border-radius: 20px;
  padding: 9.5px;
  border: solid black 2px;
}

.fig-logo img {
  margin: 10px 10px 10px 20px;
  width: 151px;
}

.img-fundo {
  width: 100%;
  height: 40rem;
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("/Imagens/bob-plano.png");
  background-color: #ffe5ac;
}

.personagens {
  padding-left: 7.5rem;
  padding-top: 4rem;
}

h1 {
  font-weight: bolder;
  font-size: 70px;
  color: #128596;
  text-shadow: 0px 3px 7px black;
  letter-spacing: 4px;
}

.list-friends {
  margin-top: 20px;
}

.list-friends li {
  margin-bottom: 20px;
  color: #d56e0e;
  font-size: 1.5rem;
  width: 30%;
  padding: 10px;
}

.list-friends li:hover {
  cursor: pointer;
  background-color: #febd81;
  opacity: 0.7;
}

/* Aqui começa o @media */
@media (max-width: 1000px) {
  .header-ul {
    width: 90%;
  }

  .navigation {
    width: 80%;
  }
}

@media (max-width: 748px) {
  .list-friends li {
    width: 40%;
  }
}

@media (max-width: 700px) {
  .menu {
    display: flex;
  }

  .navigation {
    display: none;
  }

  .fig-logo {
    margin: 0 auto;
    position: relative;
    right: 10%;
  }

  .menu {
    width: 100px;
  }

  .nav-list {
    /* position: relative; */
    display: flex;
    flex-direction: row-reverse;
  }

  .list-friends {
    /* position: absolute;
    right: 0px; */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .list-friends li {
    width: 100%;
  }

  h1 {
    font-size: 2.5rem;
    text-align: center;
  }

  .personagens {
    padding-left: 0rem;
  }
}

@media (max-width: 475px) {
  .img-fundo {
    background-size: 150%;
  }
}
